/* Regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title{
    color: #29b1dd;
    padding-left: 10px;
    padding-top: 10px;
}

.selection_bar{
    background-color: #29b1dd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

}

header h3{
    color: white;
    margin-right: 5px;
}

.my_container{
    display: flex;
    flex-wrap: wrap;
    background-color: #dddddd;
}

.my_card{
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125px;
    width: 250px;
    margin: 50px 50px;
    border-radius: 15px;
    box-shadow: 3px 7px #333333;
}

.my_content{
    text-align: center;
}

.fas{
    font-size: 40px;
}

.orange{
    color: rgb(133, 100, 39);
}

.green{
    color: rgb(16, 156, 16);
}

.blue{
    color: rgb(33, 33, 129);
}